<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <setting name="mapUnderscoreToCamelCase" value="True"/>
    </settings>
    <typeAliases>
        <package name="com.fourteen.pojo"/>
    </typeAliases>
    <mappers>
        <mapper class="com.fourteen.dao.UserMapper"/>
        <mapper class="com.fourteen.dao.OrganizationMapper"/>
        <mapper class="com.fourteen.dao.AppMapper"/>
        <mapper class="com.fourteen.dao.ArticleMapper"/>
        <mapper class="com.fourteen.dao.CommentMapper"/>
        <mapper class="com.fourteen.dao.HelpedMapper"/>
        <mapper class="com.fourteen.dao.RescueInforMapper"/>
    </mappers>

</configuration>