<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fourteen.dao.UserMapper">
    <insert id="addUser" parameterType="user">
        insert into user(id, name, age, sex, img_url, location,pwd,phone) VALUE
            (#{id}, #{name}, #{age}, #{sex}, #{imgUrl}, #{location},#{pwd},#{phone});
    </insert>

    <select id="queryAll" resultType="user">
        select *
        from user;
    </select>

    <select id="queryByLimit" resultType="user">
        select *
        from user
        limit #{page},#{limit}
    </select>

    <select id="countUser" resultType="_int">
        select count(*)
        from user
    </select>

    <update id="UpdateUser" parameterType="map">
        UPDATE user
        <set>
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="age!=null">
                age = #{age},
            </if>
            <if test="sex!=null">
                sex = #{sex},
            </if>
            <if test="location!=null">
                location = #{location},
            </if>
            <if test="pwd!=null">
                pwd = #{pwd},
            </if>
            <if test="phone!=null">
                phone = #{phone},
            </if>
        </set>
        where id= #{id}
    </update>

    <delete id="deleteUserById" parameterType="string">
        delete from user
        where id = #{id}
    </delete>
</mapper>